<div class="row">



<ul class="list-group" id="tasks">
  <li class="list-group-item"></li>

<% for task in @tasks %>

      <li class="list-group-item"><%= task.task %>
        <%= link_to edit_task_path(task), method: :update, remote: true do %>
        <button>Edit</button>
            <%end%>
        <%= link_to task, remote: true, method: :delete, data: { confirm: 'Are you sure?' } do %>
  <button>Delete!</button>
            <% end %>
    </li>
  <% end %>
</ul>
<center>
<%= link_to new_task_path, remote: true do %>
    <button>New task</button>
<% end %>

<div class="row">
  <div class="col-md-6 col-md-offset-2" id="task-form" style="display:none;"></div>
</div>
  </center>
